.root{
    font-size: calc(0.5cm + 1vw);
    box-sizing: border-box;
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html,body{
    height: 100%;
    width: 100%;
}
.container{
    display: flex;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
}
.row, .column{
    flex: 1;
    display: flex;
   
}
.row:nth-child(1) .column:nth-child(1){
    background-color: white;
    margin-right: 40px;
    color: black;
    height: 80%;
}
.row:nth-child(1) .column:nth-child(2){
    background-color: white;
    margin-right: 40px;
    color: black;
    height: 80%;
}
.row:nth-child(1) .column:nth-child(3){
    background-color: white;
    color: black;
    height: 80%;
}
.row:nth-child(2) .column:nth-child(1){
    background-color: white;
    margin-right: 40px;
    color: black;
    height: 80%;
}
.row:nth-child(2) .column:nth-child(2){
    background-color: white;
    margin-right: 40px;
    color: black;
    height: 80%;
}
.row:nth-child(2) .column:nth-child(3){
    background-color: white;
    color: black;
    height: 80%;
}
.row:nth-child(3) .column:nth-child(1){
    background-color: white;
    color: black;
    margin-right: 40px;
    height: 80%;
}
.row:nth-child(3) .column:nth-child(2){
    background-color: white;
    color: black;
    margin-right: 40px;
    height: 80%;
}
.row:nth-child(3) .column:nth-child(3){
    background-color: white;
    color: black;
    height: 80%;
}
.column{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 4rem;
}

